﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>The Race Track</h1>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    Year
                </th>
                <th>
                    Type
                </th>
                <th>
                    Tow Strap
                </th>
                <th>
                    Tire Percentage
                </th>
                <th>
                    Extra Clearance
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.Vehicles)
            {
                <tr>
                    <td>
                        @item.Make
                    </td>
                    <td>
                        @item.Model
                    </td>
                    <td>
                        @item.Year
                    </td>
                    <td>
                        @item.VehType
                    </td>
                    <td>
                        @item.TowStrap
                    </td>
                    <td>
                        @item.TirePercentage
                    </td>
                    <td>
                        @item.ExtraClearance
                    </td>
                    <td>
                        @Html.ActionLink("Add To Track", "AddToTrack", new { id = item.ID }) |
                    </td>
                </tr>
            }
        </table>

        <div class="row">
            <div class="inspection-container">
                @if(ViewBag.Inspecting != null && ViewBag.Inspecting == "Truck") { <strong class="passed">The truck passed the inspection</strong> } 
                @if(ViewBag.Inspecting != null & ViewBag.Inspecting == "Car") { <strong class="passed">The car passed the inspection</strong> }
                <h4>Truck Requirements:</h4>
                <ul id="TruckRequirements">
                    <li>
                        Has Tow Strap
                    </li>
                    <li>
                        Not raised more than 5 inches
                    </li>
                </ul>

                <h4>Car Requirements:</h4>
                <ul id="carRequirements">
                    <li>
                        Has Tow Strap
                    </li>
                    <li>
                        Tires at atleast 85%
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="vehicle-container">
                    <span>You currently have the following cars on the track</span>
                    <ul>
                        @foreach (var item in ViewBag.Track)
                        {
                            <li>@item.Make @item.Model @item.Year</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
